/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    /* size */
    --border-radius-size:4px;
  }

    /* Typography */
  
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

  /* ResetCss */

body{
  cursor: default;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

button,
textarea,
input {
	font-size: 16px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	border: none;
	background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

/* navvar */
#navbar{
  background: url(./imgs/bg.png) center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}
.navbar__logo{
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img{
  width:50px;
  height: 50px;
  margin-right: 7px;
}
.navbar__menu{
  display: flex;
  align-items: center;
}

.navbar__menu__item{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--border-radius-size);
  margin-left: 10px;
}

.navbar__menu__item:hover{
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.1);
}

.navbar__menu__item.active{
  border: 1px solid var(--color-white);
}

#home{
  width: 100%;
  background: url(./imgs/bg.png) center/cover no-repeat;
}

