/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-dark-blue:rgb(95,158,160);

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    /* size */
    --border-radius-size:4px;
    /* animation duration */
    --animation-duration:300ms;
  }

    /* Typography */
  
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 16px 0px;
  }
  
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

  /* ResetCss */

body{
  cursor: default;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

button,
textarea,
input {
	font-size: 16px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	border: none;
	background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

/* navvar */

#navbar{
  background: url(./imgs/bg.png) center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}
.navbar__logo{
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img{
  width:50px;
  height: 50px;
  margin-right: 7px;
}
.navbar__menu{
  display: flex;
  align-items: center;
}

.navbar__menu__item{
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--border-radius-size);
  margin-left: 10px;
  border:1px solid transparent;
  text-align: center;
}

.navbar__menu__item:hover{
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.1);
}

.navbar__toggle-btn{
  position: absolute;
  right: 32px;
  color: var(--color-white);
  background-color: transparent;
  font-size: var(--font-regular);
  display: none;
}

/* home */

#home{
  width: 100%;
  background: url(./imgs/bg.png) center/cover no-repeat;
  text-align: center;
  font-weight: var(--weight-bold);
  padding: 40px 0px;
}

.home__avatar{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.home__contact{
  font-weight: var(--weight-bold);
  background-color: transparent;
  border: 2px solid var(--color-black);
  padding: 5px 8px;
  margin-top: 20px;
  border-radius: var(--border-radius-size);
}
.home__contact:hover{
  background: rgba(255, 255, 255, 0.1);
}

/* Section common */
.section{
  text-align: center;
  padding: 50px;
  margin: 0 auto;
}

.section__container{
  max-width: 1216px;
  margin: 0 auto;
}

/* about */

.about__majors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0px;
}
.major{
  width: 200px;
  height: 259px;
}

.major__icon{
  font-size: 50px;
  color:var(--color-dark-blue);
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: 1px solid var(--color-dark-blue);
  border-radius: 50%;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
  transform: rotate(-30deg) scale(1.2,1.2);
  color: var(--color-blue);
}

.major__description{
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

.about__jobs{
  display: flex;
  align-items: center;
  text-align: start;
}
.job__logo{
  width: 80px;
  height: 80px;
  background: url(./imgs/yongin-logo.png) center/cover no-repeat;
}

.job__period{
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
}


/* skills */

#skills{
  background-color: var(--color-yellow);
  padding: 100px 0px;
}
#skills p{
  font-size: var(--font-small);
  max-width: 900px;
  margin: 0 auto;
}
#skills h1{
  margin: 0;
}

.skillset{
  display: flex;
  margin-top: 40px;
  color: var(--color-white);
}

.skillset__title{
  padding-bottom: 15px;
  font-size: var(--font-small);
  margin-bottom: 12px;
}


.skillset__right{
  flex-basis: 40%;
}
.skillset__right li{
  margin-bottom: 10px;
}
.skillset__right .tools{
  background-color: var(--color-grey);
}

.skillset__right .Etc{
  background-color: var(--color-light-grey);
}

.tools__list, .Etc__list , .skill__description{
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

.skillset__left{
  padding: 30px;
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
}
.tools,.Etc{
  padding: 30px 50px;
}
.skill{
  margin-bottom: 15px;
}

.skill__description{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.skill__bar,.skill__value{
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
  border-radius: 100px;
}
.skill__value{
  background-color: var(--color-orange);
}

/* My work */

#work h2{
  font-size: var(--font-small);
}

.work__categories{
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.category__btn{
  padding: 4px 40px;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--border-radius-size);
}
.category__btn:hover,
.category__btn.active{
  color: var(--color-white);
  background-color: var(--color-pink);
}
.category__btn.active .category__count,
.category__btn:hover .category__count{
  top: 0;
  left: 0;
  opacity:1;
}

.category__count{
  transition: all var(--animation-duration) ease;
  position: relative;
  top: -20px;
  left: 5px;
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  margin-left: 5px;
  background-color: var(--color-orange);
  border-radius: 50%;
  opacity: 0;
}
.work__projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 45px;
}
.project{
  position: relative;
  width: 300px;
  height: 240px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project:hover .project__description{
  opacity: 1;
  transform: translateY(0px);
}

.project__img{
  max-width: 100%;
  max-height: 100%;
}
.project__description{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease;
}

.project__description h3::after{
  margin: 0 auto;
  margin-top: 8px;
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--color-black);
}

/* testimonials */

#testimonials{
  background-color: var(--color-light-white);
  margin: 0;
  padding-bottom: 25px;
}

#testimonials h2{
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  margin-bottom: 30px;
}

.testimonial{
  display: flex;
  align-items: center;
}

.testimonial:nth-child(2){
  flex-direction: row-reverse;
  margin-top: 30px;
}
.testimonial:nth-child(1) img{
  flex-direction: row-reverse;
  margin-right: 30px;
}

.testimonial:nth-child(2) img{
  flex-direction: row-reverse;
  margin-left: 30px;
}

.testimonial img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.testimonial__speach{
  background-color: var(--color-white);
  padding: 25px 10px;
}
.testimonial__speach p{
  color: var(--color-light-grey);
}

.name span{
  color: var(--color-dark-pink);
}

/* contact */

#contact{
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: 30px 0px;
}
.contact__links i{
  font-size: 50px;
  margin: 10px 0px;
  border: none;
  transition: all var(--animation-duration) ease;
}
.contact__links i:hover{
  color: black;
  transform: scale(1.1);
}
.contact__right{
  color: var(--color-light-white);
  font-size: var(--font-micro);
}

/* media screen */
@media screen and (max-width:768px){
  .navbar__toggle-btn{
    display: block;
    top: 20px;
  }
  #navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu{
    width: 100%;
    flex-direction: column;
    color: var(--color-black);
  }
  .about__majors{
    flex-direction: column;
  }
  .major:first-child{
    margin-bottom: 25px;
  }
  .skillset{
    flex-direction: column;
  }
  .project{
    flex-grow: 1;
  }
  .testimonial img{
    width: 80px;
    height: 80px;
  }
}