/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-dark-blue:rgb(95,158,160);

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    /* size */
    --border-radius-size:4px;
  }

    /* Typography */
  
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

  /* ResetCss */

body{
  cursor: default;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

button,
textarea,
input {
	font-size: 16px;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	border: none;
	background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

/* navvar */

#navbar{
  background: url(./imgs/bg.png) center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}
.navbar__logo{
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img{
  width:50px;
  height: 50px;
  margin-right: 7px;
}
.navbar__menu{
  display: flex;
  align-items: center;
}

.navbar__menu__item{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--border-radius-size);
  margin-left: 10px;
  border:1px solid transparent;
}

.navbar__menu__item:hover{
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.1);
}

.navbar__menu__item.active{
  border: 1px solid var(--color-white);
}

/* home */

#home{
  width: 100%;
  background: url(./imgs/bg.png) center/cover no-repeat;
  text-align: center;
  font-weight: var(--weight-bold);
  padding: 40px 0px;
}

.home__avatar{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.home__contact{
  font-weight: var(--weight-bold);
  background-color: transparent;
  border: 2px solid var(--color-black);
  padding: 5px 8px;
  margin-top: 20px;
  border-radius: var(--border-radius-size);
}
.home__contact:hover{
  background: rgba(255, 255, 255, 0.1);
}

/* Section common */
.section{
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.about__majors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0px;
}
.major{
  min-width: 200px;
}

.major__icon{
  font-size: 50px;
  color:var(--color-dark-blue);
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: 1px solid var(--color-dark-blue);
  border-radius: 50%;
}

.major__icon i {
  transition: all 300ms ease;
}

.major__icon:hover i{
  transform: rotate(-30deg) scale(1.2,1.2);
  color: var(--color-blue);
}

.major__description{
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

.about__jobs{
  display: flex;
  align-items: center;
  text-align: start;
}
.job__logo{
  width: 80px;
  height: 80px;
  background: url(./imgs/yongin-logo.png) center/cover no-repeat;
}

.job__period{
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
}

